<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>
<script type="text/javascript" src="{SITEURL}js/rooms.js"></script>

<button class="btn btn-success btn-lg btn-block" id="checkout" data-room="{rt_id}">Check Out</button>



<h3 style="text-align:center;">
	<span id="time_elapsed" data-countdown="{rt_checked_in}">00:00:00</span>
	<br/><small style="font-size:12px;">Time Consumed - <span id="room_type">{rtp_name}</span></small>
</h3>

<hr class="clear" />

<form action="{SITEURL}{uri}/../update">

	<div class="form-box float-left">
		<div class="label">Rooms</div>
		<div class="content">
			<select name="room" class="span-half form-control" >
				<option value="">Select Rooms</option>
				<!-- BEGIN rooms -->
				<option value="{rm_id}" {rm_disabled} {rm_selected}>{rm_number}</option>
				<!-- END rooms -->
			</select>
		</div>
	</div> <!-- .form-box -->


	<div class="form-box float-left">
		<div class="label">Customer Name</div>
		<div class="content">
			<input type="text" name="customer_name" value="{rt_customer_name}" class="form-control span-2"/>
		</div>
	</div> <!-- .form-box -->

	<div class="form-box pull-right">
		<div class="label">Hours</div>
		<div class="content">
			<select class="form-control" id="room-rates" name="room_rates">
				<!--<option value="0">Open Time</option>-->
				<!-- BEGIN room_rates -->
				<option value="{rr_id}" {rr_selected}>{rr_hours} Hours - {rr_rate}</option>
				<!-- END room_rates -->
			</select>
		</div>
	</div> <!-- .form-box -->
	<hr class="clear" />

	<div class="grid pull-left" id="grid_charges" style="margin-top: 5px; width: 380px;">
		<div class="panel-body">
			<h4 style="float:left;margin:8px 0;" >Charges</h4>
			<a href="{SITEURL}manage/charges/add/?rt_id={rt_id}&rm_id={room_id}" class="btn btn-primary btn-xs pull-right display-modal" style="margin:8px 0;" title="Add New Record">Add Charges</a>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
				<thead>
				<tr class="header">
					<th width="10%">Qty</th>
					<th width="50%">Description</th>
					<th width="20%" style="text-align:right;">Price</th>
					<th width="20%" style="text-align:right;">Sub Total</th>
					<th width="5%"></th>
				</tr>
				</thead>
				<tr class="init-row">
					<td><span class="rc_qty"></span></td>
					<td>
						<input type="hidden" name="rc_id[]" class="rc_id" />
						<span class="ec_description"></span>
					</td>
					<td style="text-align:right;"><span class="rc_rate"></span></td>
					<td style="text-align:right;"><span class="sub_total"></span></td>
					<td><a href="{SITEURL}manage/charges/edit/?rm_id={room_id}&rt_id={rt_id}&id=" class="rc_id display-modal pull-right" title="Modify Charges"><i class="fa fa-pencil"></i></a></td>
				</tr>
			</table>
		</div>

		<input type="hidden" name="grid_url" value="{SITEURL}manage/charges/load/?rt_id={rt_id}" />
		<input type="hidden" name="parameters" value="" />
		<!--<a href="{SITEURL}manage/charges/add/?rt_id={rt_id}&rm_id={room_id}" class="btn btn-primary display-modal" title="Add New Record">Add Charges</a>-->
	</div>

	<div class="pull-right">
		<h4>&nbsp;</h4>

		<div class="form-box ext_hour_panel">
			<div class="label">Extended Hours</div>
			<div class="content">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-primary hm"><i class="fa fa-minus"></i></button>
					</div>
					<input type="text" style="text-align:center;" class="form-control span-half" id="rt_extended_hours" name="rt_extended_hours" value="{rt_extended_hours}" readonly/>
					<div class="input-group-btn">
						<button type="button" class="btn btn-primary hp"><i class="fa fa-plus"></i></button>
					</div>
				</div>
				<span id="over_hour" style=""></span>
			</div>
		</div> <!-- .form-box -->

		<div class="form-box float-left">
			<div class="label">Vehicle</div>
			<div class="content">
				<select name="v_id" id="vehicle" class="">
					<option value="">Vehicles</option>
					<!-- BEGIN vehicles -->
					<option value="{v_id}" {v_selected}>{v_name}</option>
					<!-- END vehicles -->
				</select>
			</div>
		</div> <!-- .form-box -->

		<div class="form-box">
			<div class="label">Promo Code</div>
			<div class="content">
				<input type="text" name="promo_code" id="promo_code" value="{prm_code}" {prm_disable} autocomplete="off"/>
				<span id="promo_msg" style="{prm_show_msg}">{prm_msg}</span>
			</div>
		</div> <!-- .form-box -->


		<div class="form-box">
			<div class="label">Extra Charge</div>
			<div class="content">
				<input type="text" name="extra_charge" id="extra_charge" style="text-align:right;font-weight:bold;" disabled />
			</div>
		</div> <!-- .form-box -->

		<div class="form-box">
			<div class="label">Room Charge</div>
			<div class="content">
				<input type="text" name="room_charge" value="{rr_rate}" id="room_charge" style="text-align:right;font-weight:bold;" disabled />
				<input type="hidden" name="hourly_rate" id="hourly_rate" value="{rr_excess_rate}"/>
			</div>
		</div> <!-- .form-box -->

		<div class="form-box">
			<div class="label">Total Charges</div>
			<div class="content">
				<input type="text" name="total" id="total_charge" value="0" style="text-align:right;font-weight:bold;" disabled />
			</div>
		</div> <!-- .form-box -->
	</div>
	<div class="clear"></div>

	<input type="hidden" name="rt_hours" id="rt_hours" value="{rt_hours}"/>
	<input type="hidden" name="rt_rr_rate" id="rt_rr_rate" value="{rt_rr_rate}"/>
	<input type="hidden" name="rtp_hourly_rate" id="rtp_hourly_rate" value="{rr_excess_rate}">

	<input type="hidden" name="promo_id" value="{rt_promo_id}" id="promo_id">
	<input type="hidden" name="discount" value="{rt_promo_rate}" id="promo_disc">
	<input type="hidden" name="discount_percentage" value="{rt_promo_rate}" id="promo_disc_percentage">

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{rt_id}">
	<input type="hidden" name="rt_id" value="{rt_id}">
	<input type="hidden" name="parent_grid" value="rooms">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="type" value="users">
	<input type="hidden" name="close_after_save" value="true">
</form>

{checkoutcancel}
