<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>
<script type="text/javascript" src="{SITEURL}js/rooms.js"></script>

<form action="{SITEURL}{uri}/../update">

	<input type="hidden" name="room" value="999" />

	<div class="form-box float-left">
		<div class="label">Customer Name</div>
		<div class="content">
			<input type="text" name="customer_name" value="{rt_customer_name}" class="form-control span-2"/>
		</div>
	</div> <!-- .form-box -->

	<div class="form-box">
		<div class="label">Total Charges</div>
		<div class="content">
			<input type="text" name="total" class="form-control" id="total_charge" value="" style="text-align:right;font-weight:bold;" disabled />
		</div>
	</div> <!-- .form-box -->

	<input type="hidden" id="room-rates" name="room_rates" value="0" />

	<div class="clearfix"></div>
	<div class="grid" id="grid_charges" style="margin-top: 5px;">
		<div class="panel-body">
			<h4>Charges</h4>
			<a href="{SITEURL}manage/charges/add/?rt_id={rt_id}&rm_id=999" class="btn btn-primary btn-xs pull-right display-modal" style="margin:8px 0;" title="Add New Record">Add Charges</a>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
				<thead>
				<tr class="header">
					<th width="10%">Qty</th>
					<th width="50%">Description</th>
					<th width="20%" style="text-align:right;">Price</th>
					<th width="20%" style="text-align:right;">Sub Total</th>
					<th width="5%"></th>
				</tr>
				</thead>
				<tr class="init-row">
					<td><span class="rc_qty"></span></td>
					<td>
						<input type="hidden" name="rc_id[]" class="rc_id" />
						<span class="ec_description"></span>
					</td>
					<td style="text-align:right;"><span class="rc_rate"></span></td>
					<td style="text-align:right;"><span class="sub_total"></span></td>
					<td><a href="{SITEURL}manage/charges/edit/?rt_id={rt_id}&rm_id=999&id=" title="Modify Charge" class="rc_id pull-right display-modal"><i class="fa fa-pencil"></i></a></td>
				</tr>
			</table>
		</div>

		<input type="hidden" name="grid_url" value="{SITEURL}manage/charges/temp-load/?rt_id={rt_id}" />
		<input type="hidden" name="parameters" value="rm_id=999" />

	</div>

	<div class="pull-right">
		<h4>&nbsp;</h4>

		<input type="hidden" id="rt_extended_hours" name="rt_extended_hours" value="0" />
		<input type="hidden" name="v_id" id="vehicle" value="" />
		<input type="hidden" name="promo_code" id="promo_code" value=""/>

		<input type="hidden" name="room_charge" id="room_charge" value="0"/>
		<input type="hidden" name="extra_charge" id="extra_charge" />


	</div>

	<div class="clear"></div>

	<input type="hidden" name="rt_hours" id="rt_hours" value="0"/>
	<input type="hidden" name="rt_rr_rate" id="rt_rr_rate" value="0"/>


	<input type="hidden" name="rtp_hourly_rate" value="0" id="rtp_hourly_rate">
	<input type="hidden" name="promo_id" value="0" id="promo_id">
	<input type="hidden" name="discount" value="0" id="promo_disc">
	<input type="hidden" name="discount_percentage" value="0" id="promo_disc_percentage">


	<input type="hidden" name="action" value="add">
	<input type="hidden" name="id" value="">
	<input type="hidden" name="rt_id" value="-1">
	<input type="hidden" name="parent_grid" value="rooms">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="open_pdf" value="true">
	<input type="hidden" name="type" value="users">
</form>


<script>
	$(document).ready(function(){
	});
</script>