<div id="page-wrapper">

    <div class="container-fluid">
        <!-- BEGIN PAGE_TITLE -->
        {PH_page_title} jQuery Grid Implementation :: Genesis
        <!-- END PAGE_TITLE -->
        <!-- BEGIN META_DESCRIPTION -->
        {PH_meta_description} jQuery Grid Implementation
        <!-- END META_DESCRIPTION -->
        <!-- BEGIN META_KEYWORDS -->
        {PH_meta_keywords} jQuery Grid Implementation
        <!-- END META_KEYWORDS -->

        <!--<link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/grid.css">-->
        <link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
        <script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
        <script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>
        <script language="javascript">
            $(document).ready(function(){
                $('#grid_reports').grid();
            });
        </script>

        <div class="float-left" style="margin-right: 15px;">
            <h2><i class="fa fa-fw fa-file"></i> Summary Sales Reports
                <button  id="download" class="btn btn-primary pull-right" style="margin-left: 5px;"><i class="fa fa-print"></i> Print</button>
            </h2>
            <div class="grid panel panel-default" id="grid_reports">

                <div class="panel-heading">
                    <div class="row">

                            <div class="col-md-6">
                                <form id="filter">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default">Date Range:</button>
                                        </div>
                                            <input type="text" id="date_range" name="date_range" placeholder="Date Range" class="datepicker-range form-control pull-right" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <input type="submit" name="submit_filter"  id="submit_filter" class="btn btn-primary pull-right" value="Filter"/>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-3 pull-right">
                                <form id="filter2">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default">Reference #:</button>
                                        </div>
                                        <input type="text" id="ref_num" name="ref_num" placeholder="000000" class="form-control pull-right" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <input type="submit" name="submit_filter"  id="submit_filter" class="btn btn-primary pull-right" value="Search"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr class="header">
                            <th>Reference #</th>
                            <th>Room</th>
                            <!--<th>Cashier</th>-->
                            <th>Checked In</th>
                            <th>Checked Out</th>
                            <th>Customer</th>
                            <th>VIP #</th>
                            <th style="text-align:right">Qty</th>
                            <th style="text-align:right">Description</th>
                            <th style="text-align:right">Amount</th>
                            <th style="text-align:right">Sub Total</th>
                        </tr>
                        </thead>
                        <tr class="init-row">
                            <td><span class="rt_id"></span> </td>
                            <td><span class="rm_number"></span></td>
                            <!--<td><span class="cashier"></span></td>-->
                            <td><span class="check_in"></span></td>
                            <td><span class="check_out"></span></td>
                            <td><span class="customer"></span></td>
                            <td><span class="promo"></span></td>
                            <td align="right"><span class="qty"></span></td>
                            <td align="right"><span class="desc"></span></td>
                            <td align="right"><span class="amount"></span></td>
                            <td align="right"><span class="subtotal"></span></td>

                            <!--<td align="right"><span class="rc_rate"></span></td>
                            <td align="right"><span class="total_charge"></span></td>-->
                        </tr>
                    </table>
                </div>

                <div class="grid-controls panel-footer">
                    <div class="pad row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Page: <span class="currentPage"></span> of <span class="totalPages"></span> of <span class="totalRecords"></span> records.</span>
                                <input type="text" class="form-control gotopage" name="gotopage">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default go-page">Go To Page</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="paging pull-right">
                                <a href="#" class="page-previous page-link btn btn-default" rel="">Previous Page</a>
                                <a href="#" class="page-next page-link btn btn-default" rel="">Next Page</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <input type="hidden" name="grid_url" value="{SITEURL}{uri}/load" />
                <input type="hidden" name="parameters" value="" />
            </div>
        </div>





    </div>
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
    $(function(){
        $("#filter").submit(function(){
            data = $(this).serialize();
            $("input[name=parameters]").val(data);
            populateGrid($("#grid_reports"));
            return false;
        });

        $("#filter2").submit(function(){
            data = $(this).serialize();
            $("input[name=parameters]").val(data);
            populateGrid($("#grid_reports"));
            return false;
        });

        $("#download").click(function(e){
            data = $("#filter").serialize();
            window.open('/reports/monthly-summary/pdf?' + data, 'fullscreen=no, toolbar=no');
            e.preventDefault();
        });
    });
</script>