
<link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
<script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
<script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>

<div id="page-wrapper">
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Room Availability
				<div id="clock" class="clock pull-right">
					00:00 AM
				</div>
			</h1>
		</div>

	</div>
	<!-- /.row -->


	<div class="row">
		<div class="col-lg-3 col-md-4 rooms">
			<a href="{SITEURL}manage/checked-in/house_account/?id=999&rt_id=-1" class="display-modal btn btn-success" title="House Account">House Account
			</a>
			<br />
			<br />
		</div>

	</div>

	<div class="row">
		<!-- BEGIN rooms -->
		<div class="col-lg-3 col-md-4 rooms {rm_class}">
			<a href="{SITEURL}manage/checked-in/{action}/?id={rm_id}&rt_id={rt_id}" class="display-modal {available}" title="Check-In">
			<div class="panel panel-{color_status}" id="rm-{rm_number}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-home fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">{rm_number}</div>
							<div class="room-status" data-hours="{rt_hours}" data-countdown="{rm_time}">{rm_status}</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
						<!--<span class="pull-left">Room Available</span>-->
						<span class="pull-left">{in}</span>
							<span class="pull-right" class="room-out" >{out} </span>
						<div class="clearfix"></div>
					</div>
			</div>
			</a>
		</div>
		<!-- END rooms -->

	</div>
	<!-- /.row -->


</div>
<!-- /.container-fluid -->


</div>
<!-- /#page-wrapper -->


<script>
	$(document).ready(function(){
		runTimer();


		setInterval('updateClock()', 1000);
	});


	function updateClock ( )
	{
		var currentTime = new Date ( );
		var currentHours = currentTime.getHours ( );
		var currentMinutes = currentTime.getMinutes ( );
		var currentSeconds = currentTime.getSeconds ( );

		// Pad the minutes and seconds with leading zeros, if required
		currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
		currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

		// Choose either "AM" or "PM" as appropriate
		var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

		// Convert the hours component to 12-hour format if needed
		currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

		// Convert an hours component of "0" to "12"
		currentHours = ( currentHours == 0 ) ? 12 : currentHours;

		// Compose the string for display
		var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;


		$("#clock").html(currentTimeString);

	}

	function runTimer(){
		$('[data-countdown]').each(function() {
			if($(this).data('countdown') != ""){
				var $this = $(this), finalDate = $(this).data('countdown');
				/*$this.countdown(finalDate, function(event) {
					$this.html(event.strftime('%H:%M:%S'));
				}).on('finish.countdown', function(event){
					$(this).parents('.panel').removeClass('panel-occupied').addClass('panel-end');
				});*/

				var fiveSeconds = new Date().getTime();
				$this.countdown(finalDate, {elapse: true})
				.on('update.countdown', function(event) {
						var $this = $(this);
						var totalHours = event.offset.totalDays * 24 + event.offset.hours;

						var minutes = totalHours * 60 + event.offset.minutes;
						var th =  $(this).data('hours');
						var totMins = parseInt(th) * 60 - 10;

						if( th > 0 && minutes >= totMins && !$(this).parents('.panel').hasClass('panel-end') ){
							if( !$(this).parents('.panel').hasClass('panel-occupied-open') ){
								$(this).parents('.panel').removeClass('panel-occupied').addClass('panel-end');
							}
						}

						var day = Math.floor(totalHours / 24);
						var day_str = "";
						if(day > 0){
							day_str = day + " Days ";
						}

						if (event.elapsed) {
							$this.html(event.strftime(day_str + ' %H:%M:%S'));
						} else {
							$this.html(event.strftime(day_str + " " + totalHours + ':%M:%S'));
						}
				});
			}
		});
	}
</script>
