<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<h2>{book_title}</h2>
<form action="{SITEURL}{uri}/../update">
	<div class="form-box float-left">
		<div class="label">Category Name</div>
		<div class="content">
			<input type="text" name="description" value="{cat_description}" class="span-2 form-control">
		</div>
	</div> <!-- .form-box -->
	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{cat_id}">
	<input type="hidden" name="parent_grid" value="#grid_extra_charges">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="type" value="category_charges">
</form>
