@import "_import";
$border-color: #d5d4d9;
$border: 1px solid $border-color;

form, #form, .form {
	margin: 10px 0px 0px 0px;
	padding: 0px;

	.form-box {
		margin: 0px 0px 10px 0px;
		clear: both;

		.label {
			font-size: 8pt;
			font-weight: bold;
			border-top: $border;
			border-right: $border;
			border-left: $border;
			padding: 1px 5px;
			display: inline;
			@include gradient;
			@include border-top-right-radius(3px);
			@include border-top-left-radius(3px);
			text-shadow: 0 2px 0 #ffffff;
		}

		.content {
			clear: both;
			padding: 7px 5px;
			border: 1px solid $border-color;
			display: table-cell;
			@include gradient-reverse;
		}

		input, select {
			border: $border;
			font-family: Tahoma, Georgia, Verdana;
			font-size: 9pt;
			padding: 2px 3px;
			width: 140px;
			@include border-top-left-radius(5px);
			@include border-bottom-right-radius(5px);
		}

		select {
			padding: 1px 2px;
		}

		input.span-2, select.span-2 {
			width: 300px;
		}

		input.span-half, select.span-half {
			width: 60px;
		}

		input.error, select.error {
			background: #f8d9d1;
		}
	}

	.form-box.float-left {
		clear: none;
		float: left;
		margin-right: 8px;
	}
}

.modal-status {
	display: block;
    float: left;
    font-size: 8pt;
    margin: 11px 10px 0px 0px;
    overflow: hidden;
}

