<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<h2>{book_title}</h2>
<form action="{SITEURL}{uri}/../update">

	<div class="form-box float-left">
		<div class="label">First Name</div>
		<div class="content">
			<input type="text" name="firstname" value="{u_firstname}">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Middle Name</div>
		<div class="content">
			<input type="text" name="middlename" value="{u_middlename}">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Last Name</div>
		<div class="content">
			<input type="text" name="lastname" value="{u_lastname}">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Ext</div>
		<div class="content">
			<input type="text" name="extname" value="{u_extname}" class="span-half">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Birthdate</div>
		<div class="content">
			<input type="text" name="birthdate" value="{u_birthdate}" class="datepicker">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Gender</div>
		<div class="content">
			<select name="gender">
				<option value="">Select Gender</option>
				<!-- BEGIN gender -->
				<option value="{gender_id}" {gender_selected}>{gender_name}</option>
				<!-- END gender -->
			</select>
		</div>
	</div> <!-- .form-box -->

	<div class="clear"></div>

	<div class="form-box float-left">
		<div class="label">User Type</div>
		<div class="content">
			<select name="usertype" class="span-2">
				<option value="">Select User Type</option>
				<!-- BEGIN usertypes -->
				<option value="{ut_id}" {ut_selected}>{ut_name}</option>
				<!-- END usertypes -->
			</select>
		</div>
	</div> <!-- .form-box -->
	<div class="clear"></div>


	<div class="form-box float-left">
		<div class="label">Username</div>
		<div class="content">
			<input type="text" value="{u_username}" disabled="disabled"/>
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Password</div>
		<div class="content">
			<input type="password" name="password" value=""/>
		</div>
	</div> <!-- .form-box -->
	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{u_id}">
	<input type="hidden" name="parent_grid" value="#grid_users">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="type" value="users">
</form>
