<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<form action="{SITEURL}{uri}/../update">
	<div class="form-box float-left">
		<div class="label">Item Name</div>
		<div class="content">
			<input type="text" class="form-control span-2" name="name" value="{ec_name}">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Price</div>
		<div class="content">
			<input type="text" class="form-control span-2" name="price" value="{ec_price}">
		</div>
	</div><!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Status</div>
		<div class="content">
			<select name="status" class="form-control span-2">
				<!-- BEGIN promo-status -->
				<option value="{status_id}" {status_selected}>{status_label}</option>
				<!-- END promo-status -->
			</select>
		</div>
	</div> <!-- .form-box -->

	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{ec_id}">
	<input type="hidden" name="cat_id" value="{ec_cat_id}">
	<input type="hidden" name="parent_grid" value="#grid_extra_charges">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="type" value="extra_charges">
</form>
