<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>
<script type="text/javascript" src="{SITEURL}js/room-charges.js"></script>

<form action="{SITEURL}{uri}/../update">
	<div class="form-box float-left">
		<div class="label">Qty</div>
		<div class="content">
			<input type="text" name="qty" id="qty" class="form-control span-half" value="1"/>
		</div>
	</div> <!-- .form-box -->
	<hr class="clear" />

	<div class="form-box float-left">
		<div class="label">Charges Type</div>
		<div class="content">
			<select name="cat_id" id="charges" class="form-control span-2">
				<option value="">Select Category</option>
				<!-- BEGIN category -->
				<option value="{cat_id}" {cat_selected}>{cat_description}</option>
				<!-- END category -->
			</select>
		</div>
	</div> <!-- .form-box -->


	<div class="form-box float-left">
		<div class="label">Item</div>
		<div class="content">
			<select name="ec_id" id="extra_charge_item" class="form-control span-2">
				<option value="">Charge Item</option>
				<!-- BEGIN extra_charges -->
				<option value="{ec_id}" {ec_selected}>{ec_name}</option>
				<!-- END extra_charges -->
			</select>
		</div>
	</div> <!-- .form-box -->
	<hr class="clear" />


	<div class="form-box float-left">
		<div class="label">Extra Charges</div>
		<div class="content">
			<input type="text" name="rate" id="rate" value="0" readonly class="form-control" />
		</div>
	</div> <!-- .form-box -->

	<div class="clear"></div>

	<input type="hidden" name="charge_rate" id="charge_rate" value="">

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{u_id}">
	<input type="hidden" name="rt_id" value="{rt_id}">
	<input type="hidden" name="rm_id" value="{rm_id}">
	<input type="hidden" name="parent_grid" value="#grid_charges">
	<input type="hidden" name="reload_grid" value="true">
	<input type="hidden" name="close_after_save" value="true">
	<input type="hidden" name="type" value="users">
</form>
