<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<form action="{SITEURL}{uri}/../update">
	<div class="form-box float-left">
		<div class="label">Room No.</div>
		<div class="content">
			<input type="text" name="number" value="{rm_number}" class="span-2 form-control">
		</div>
	</div> <!-- .form-box -->


	<div class="form-box float-left">
		<div class="label">Room Type</div>
		<div class="content">
			<select name="types" id="room_types" class="span-2 form-control">
				<option value="">Select Type</option>
				<!-- BEGIN room_types -->
				<option value="{rtp_id}" {rtp_selected}>{rtp_name}</option>
				<!-- END room_types -->
			</select>
		</div>
	</div> <!-- .form-box -->


	<div class="form-box float-left">
		<div class="label">Room Status</div>
		<div class="content">
			<select name="status" id="rm_status" class="span-2 form-control">
				<!-- BEGIN room_status -->
				<option value="{t_id}" {t_selected}>{t_desc}</option>
				<!-- END room_status -->
			</select>
		</div>
	</div> <!-- .form-box -->

	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{rm_id}">
	<input type="hidden" name="status" value="1">
	<input type="hidden" name="parent_grid" value="#grid_rooms">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="close_after_save" value="true">
	<input type="hidden" name="type" value="rooms">
</form>
