<div id="page-wrapper">

    <div class="container-fluid">
        <!-- BEGIN PAGE_TITLE -->
        {PH_page_title} jQuery Grid Implementation :: Genesis
        <!-- END PAGE_TITLE -->
        <!-- BEGIN META_DESCRIPTION -->
        {PH_meta_description} jQuery Grid Implementation
        <!-- END META_DESCRIPTION -->
        <!-- BEGIN META_KEYWORDS -->
        {PH_meta_keywords} jQuery Grid Implementation
        <!-- END META_KEYWORDS -->

        <!--<link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/grid.css">-->
        <link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
        <script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
        <script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>
        <script language="javascript">
            $(document).ready(function(){
                $('#grid_reports').grid();
            });
        </script>

        <div class="float-left" style="margin-right: 15px;">
            <h2><i class="fa fa-fw fa-file"></i> Summary Reports</h2>
            <div class="grid panel panel-default" id="grid_reports">

                <div class="panel-heading">
                    <div class="row">
                        <form id="filter">
                            <div class="col-md-4">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Sort By:</span>
                                    <select id="sort" name="sort" class="form-control">
                                        <option value="date">Date</option>
                                        <option value="room">Room</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Date Range:</span>
                                    <input type="text" id="date_range" name="date_range" placeholder="Date Range" class="datepicker-range form-control pull-right" />
                                </div>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button  id="download" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-file-excel-o"></i> Excel</button>
                                <input type="submit" name="submit_filter"  id="submit_filter" class="btn btn-primary pull-right" value="Filter"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr class="header">
                            <th>Room</th>
                            <th>Type</th>
                            <th>Checked In</th>
                            <th>Checked Out</th>
                            <th style="text-align:right">Hours</th>
                            <th style="text-align:right">Room Charge</th>
                            <th style="text-align:right">Extra Charges</th>
                            <th style="text-align:right">Total</th>
                        </tr>
                        </thead>
                        <tr class="init-row">
                            <td>
                                <span class="rm_number"></span>
                            </td>
                            <td><span class="rtp_name"></span></td>
                            <td><span class="check_in"></span></td>
                            <td><span class="check_out"></span></td>
                            <td align="right"><span class="hours"></span></td>
                            <td align="right"><span class="room_charge"></span></td>
                            <td align="right"><span class="extra_charges"></span></td>
                            <td align="right"><span class="total_charge"></span></td>
                        </tr>
                    </table>
                </div>

                <div class="grid-controls panel-footer">
                    <div class="pad row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Page: <span class="currentPage"></span> of <span class="totalPages"></span> of <span class="totalRecords"></span> records.</span>
                                <input type="text" class="form-control gotopage" name="gotopage">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default go-page">Go To Page</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="paging pull-right">
                                <a href="#" class="page-previous page-link btn btn-default" rel="">Previous Page</a>
                                <a href="#" class="page-next page-link btn btn-default" rel="">Next Page</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <input type="hidden" name="grid_url" value="{SITEURL}{uri}/load" />
                <input type="hidden" name="parameters" value="" />
            </div>
        </div>





    </div>
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
    $(function(){
        $("#filter").submit(function(){
            data = $(this).serialize();
            $("input[name=parameters]").val(data);
            populateGrid($("#grid_reports"));
            return false;
        });

        $("#download").click(function(e){
            data = $("#filter").serialize();
            window.location = '/reports/excel?' + data;
            e.preventDefault();
        });
    });
</script>