/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
        height: 100%;
        position: fixed;
        width: 100%;
        left: -225px;
        margin-left: 225px;
        padding-left: 225px;
        overflow-y: auto;
        padding-bottom: 50px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}


.dialog-dummy{ display: none; }
.clear{ clear: both; }

.gen-grid .ball { background-color: transparent; border: 5px solid rgba(0, 183, 229, 0.9); opacity: .9; border-top: 5px solid transparent; border-left: 5px solid transparent; border-radius: 50px; box-shadow: 0 0 35px #2187e7; width: 50px; height: 50px; margin: 0 auto; -moz-animation: spin .5s infinite linear; -webkit-animation: spin .5s infinite linear; }
.gen-grid .ball1 { background-color: transparent; border: 5px solid rgba(0, 183, 229, 0.9); opacity: .9; border-top: 5px solid transparent; border-left: 5px solid transparent; border-radius: 50px; box-shadow: 0 0 15px #2187e7; width: 30px; height: 30px; margin: 0 auto; position: relative; top: -50px; -moz-animation: spinoff .5s infinite linear; -webkit-animation: spinoff .5s infinite linear; }
@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); } }
@-moz-keyframes spinoff { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spinoff { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); } }


.form-box .label{
    color: #000;
}

.room-status {
    font-size: 18px;
}


.panel-out-of-order{ border-color: #E0E0E0; opacity: 0.2;}
.panel-out-of-order > .panel-heading { border-color: #3C3E40; color: #000; background-color: #8F959A;}
.panel-out-of-order > a {  color: #000;}
.panel-out-of-order > a:hover { color: #b52b27;}

.panel-available{ border-color: #E0E0E0; }
.panel-available > .panel-heading { border-color: #3C3E40; color: #fff; background-color: #8F959A;}
.panel-available > a {  color: #000;}
.panel-available > a:hover { color: #b52b27;}

.panel-occupied{ border-color: #E0E0E0; }
.panel-occupied > .panel-heading { border-color: #3C3E40; color: #fff; background-color: #16a085;}
.panel-occupied > a {  color: #000;}
.panel-occupied > a:hover { color: #b52b27;}

.panel-occupied-open{ border-color: #E0E0E0; }
.panel-occupied-open > .panel-heading { border-color: #3C3E40; color: #fff; background-color: #16a085;}
.panel-occupied-open > a {  color: #000;}
.panel-occupied-open > a:hover { color: #b52b27;}

.panel-end{ border-color: #E0E0E0; }
.panel-end > .panel-heading { border-color: #3C3E40; color: #fff; background-color: #e74c3c;}
.panel-end > a {  color: #b52b27;}
.panel-end > a:hover { color: #b52b27;}

.panel-dirty{ border-color: #E0E0E0; }
.panel-dirty > .panel-heading { border-color: #3C3E40; color: #fff; background-color: #e78e44;}
.panel-dirty > a {  color: #b55721;}
.panel-dirty > a:hover { color: #b55721;}

option:disabled {
    background-color: #e2e2e2;
    color: #B3B2B2;
}

.modal .grid .panel-body {
    padding: 0px;
}

.modal .grid .table{
    font-size: 12px;
}
.modal .grid .table th,
.modal .grid .table td{
    padding: 4px;
}

.modal:last-child{
    z-index: 1070;
}
.modal-backdrop:nth-last-child(2){
    z-index: 1060;
}

.temp a{
    cursor: default;
    opacity: 0.2;
}


#promo_msg{
    display: none;
    font-size: 11px;
    padding: 2px 4px;
    color: #fff;
}

#over_hour{
    display: none;
    background: red;
    font-size: 11px;
    padding: 2px 4px;
    color: #fff;
}

.loader{
    display: block;
    height: 24px;
    line-height: 25px;
    text-indent: 5px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

.loader img{
    height: 24px;
    width: auto;
}

.grid table td{
    word-break: break-all;
}

.rm_in{
    background-color: #337ab7;
    color: #fff;
    padding: 0 5px;
    border-radius: 6px;
}

.rm_out{
    background-color: #D00404;
    color: #fff;
    padding: 0 5px;
    border-radius: 6px;
}

.alert{
    display: none;
    position: fixed;
    z-index: 1099;
    width: 50%;
    left: 37%;
    top: 25px;
}

.display-modal.dirty, .display-modal.out-of-order{
    cursor: not-allowed;
}


.mini_room .fa-home{
    font-size: 3em!important;
}
