<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<form action="{SITEURL}{uri}/../update">

	<div class="form-box float-left">
		<div class="label">Room Type</div>
		<div class="content">
			<select name="room_type" id="room_rates" class="span-2 form-control">
				<option value="">Room Type</option>
				<!-- BEGIN room_types -->
				<option value="{rtp_id}" {rtp_selected}>{rtp_name}</option>
				<!-- END room_types -->
			</select>
		</div>
	</div> <!-- .form-box -->
	<div class="clear"></div>


	<div class="form-box float-left">
		<div class="label">Hours</div>
		<div class="content">
			<input type="text" name="hours" value="{rc_hours}" class="span-2 form-control" />
		</div>
	</div> <!-- .form-box -->
	<div class="clear"></div>


	<div class="row">
		<div class="col-lg-3">
			<h5 style="font-weight:bold;">Days</h5>
		</div>
		<div class="col-lg-3">
			<h5 style="font-weight:bold;">Room Rate</h5>
		</div>
		<div class="col-lg-3">
			<h5 style="font-weight:bold;">Excess Rate</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Monday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[1][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[1][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Tuesday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[2][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[2][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Wednesday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[3][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[3][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Thursday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[4][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[4][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Friday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[5][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[5][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Saturday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[6][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[6][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<h5>Sunday</h5>
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[7][rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
		<div class="col-lg-3">
			<input type="text" name="room_rates[7][excess_rate]" placeholder="0" class="span-2 form-control text-right">
		</div>
	</div>

	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{rr_id}">
	<input type="hidden" name="parent_grid" value="#grid_room_rates">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="close_after_save" value="true">
	<input type="hidden" name="type" value="room_rates">
</form>
