<div id="page-wrapper">

    <div class="container-fluid">
        <link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
        <script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
        <script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>
        <script language="javascript">
            $(document).ready(function(){
                $('#grid_extra_charges').grid({}, function(){
                    $("input[name=forbidden][value=true]").parents('.quicklinks').remove();
                });
            });
        </script>

        <div class="float-left" style="margin-right: 15px;">
            <h2><i class="fa fa-fw fa-users"></i> Charge Types</h2>
            <a href="{SITEURL}inventory/categories" class="btn btn-success pull-right" ><i class="fa fa-fw fa-list"></i> Category List</a>
            <br><br>
            <div class="grid panel panel-default" id="grid_extra_charges">
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr class="header">
                            <th>Name</th>
                            <th width="150"></th>
                        </tr>
                        </thead>
                        <tr class="init-row">
                            <td>
                                <a href="{SITEURL}inventory/item-categories/?id=" class="cat_id"><span class="cat_description"></span></a>
                            </td>
                            <td>
                                <div class="quicklinks pull-right">
                                    <a href="{SITEURL}inventory/categories/restore/?id=" class="cat_id restore-row" style="color:green;" title="Delete Record"><i class="fa fa-recycle"></i> Restore</a>
                                    <input type="hidden" name="forbidden" class="forbidden" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="grid-controls panel-footer">
                    <div class="pad row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Page: <span class="currentPage"></span> of <span class="totalPages"></span> of <span class="totalRecords"></span> records.</span>
                                <input type="text" class="form-control gotopage" name="gotopage">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default go-page">Go To Page</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="paging pull-right">
                                <a href="#" class="page-previous page-link btn btn-default" rel="">Previous Page</a>
                                <a href="#" class="page-next page-link btn btn-default" rel="">Next Page</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <input type="hidden" name="grid_url" value="{SITEURL}inventory/categories/load-archive" />
                <input type="hidden" name="parameters" value="" />
            </div>
        </div>





    </div>
</div>
<!-- /#page-wrapper -->