<div id="page-wrapper">

    <div class="container-fluid">
        <link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
        <script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
        <script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>
        <script language="javascript">
            $(document).ready(function(){
                $('#grid_room_rates').grid();
            });
        </script>

        <div class="float-left" style="margin-right: 15px;">
            <h2><i class="fa fa-fw fa-exchange"></i> Room Rates</h2>
            <a href="{SITEURL}{uri}/add/" class="btn btn-primary display-modal" title="Add New Record">Add New</a>
            <br><br>
            <div class="grid panel panel-default" id="grid_room_rates">
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr class="header">
                            <th rowspan="2">Room Type</th>
                            <th rowspan="2" style="text-align:right;">No. Hours</th>
                            <th colspan="2" style="text-align:center;">Monday</th>
                            <th colspan="2" style="text-align:center;">Tuesday</th>
                            <th colspan="2" style="text-align:center;">Wednesday</th>
                            <th colspan="2" style="text-align:center;">Thursday</th>
                            <th colspan="2" style="text-align:center;">Friday</th>
                            <th colspan="2" style="text-align:center;">Saturday</th>
                            <th colspan="2" style="text-align:center;">Sunday</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:right;">Excess</th>
                            <!--<th style="text-align:right;">Initial Rate</th>-->
                            <th></th>
                        </tr>
                        </thead>
                        <tr class="init-row">
                            <td>
                                <span class="rtp_name"></span>
                            </td>
                            <td align="right">
                                <span class="rr_hours"></span>
                            </td>


                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day1"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess1"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day2"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess2"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day3"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess3"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day4"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess4"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day5"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess5"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day6"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess6"></span>
                            </td>

                            <td align="right" style="background:#daedf1;">
                                <span class="rr_day7"></span>
                            </td>
                            <td align="right" style="background: #f9e8e8;">
                                <span class="rr_excess7"></span>
                            </td>

                            <!--<td align="right">
                                <span class="rr_rate"></span>
                            </td>-->
                            <td>
                                <div class="quicklinks pull-right"><a href="{SITEURL}{uri}/edit/?id=" class="rr_id display-modal" title="Edit Record"><i class="fa fa-pencil"></i></a></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="grid-controls panel-footer">
                    <div class="pad row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Page: <span class="currentPage"></span> of <span class="totalPages"></span> of <span class="totalRecords"></span> records.</span>
                                <input type="text" class="form-control gotopage" name="gotopage">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default go-page">Go To Page</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="paging pull-right">
                                <a href="#" class="page-previous page-link btn btn-default" rel="">Previous Page</a>
                                <a href="#" class="page-next page-link btn btn-default" rel="">Next Page</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <input type="hidden" name="grid_url" value="{SITEURL}{uri}/load" />
                <input type="hidden" name="parameters" value="" />
            </div>
        </div>





    </div>
</div>
<!-- /#page-wrapper -->