<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#inventory"><i class="fa fa-fw fa-clipboard"></i> Inventory <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="inventory" class="collapse">
        <li>
            <a href="{SITEURL}inventory/categories">Categories</a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#system"><i class="fa fa-fw fa-gear"></i> System <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="system" class="collapse">
        <li>
            <a href="{SITEURL}system/users">Manage Users</a>
        </li>
        <li>
            <a href="{SITEURL}system/promos">Promo Codes</a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#monitoring"><i class="fa fa-fw fa-desktop"></i> Monitoring <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="monitoring" class="collapse">
        <li>
            <a href="{SITEURL}monitoring/rooms">Rooms</a>
        </li>

        <li>
            <a href="{SITEURL}monitoring/room-rates">Room Rates</a>
        </li>

        <li>
            <a href="{SITEURL}monitoring/room-type">Room Type</a>
        </li>

        <li>
            <a href="{SITEURL}monitoring/vehicles">Vehicles</a>
        </li>

    </ul>
</li>

<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#reports"><i class="fa fa-fw fa-table"></i> Reports <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="reports" class="collapse">
        <li>
            <a href="{SITEURL}reports/daily-summary">Daily Summary</a>
        </li>
        <li>
            <a href="{SITEURL}reports/monthly-summary">Summary of Sales</a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#tools"><i class="fa fa-fw fa-wrench"></i> Tools <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="tools" class="collapse">
        <li class="temp">
            <a href="#">Update System</a>
        </li>
    </ul>
</li>
