<script type="text/javascript" src="{SITEURL}js/form.bootstrap.js"></script>

<form action="{SITEURL}{uri}/../update">
	<div class="form-box float-left">
		<div class="label">Room Type Name</div>
		<div class="content">
			<input type="text" name="name" value="{v_name}" class="span-2 form-control">
		</div>
	</div> <!-- .form-box -->

	<div class="form-box float-left">
		<div class="label">Hourly Rates</div>
		<div class="content">
			<input type="text" name="hourly_rate" value="{rtp_hourly_rate}" class="span-2 form-control">
		</div>
	</div> <!-- .form-box -->

	<div class="clear"></div>

	<input type="hidden" name="action" value="{fileName}">
	<input type="hidden" name="id" value="{v_id}">
	<input type="hidden" name="parent_grid" value="#grid_room_types">
	<input type="hidden" name="reload_grid" value="">
	<input type="hidden" name="close_after_save" value="true">
	<input type="hidden" name="type" value="room_types">
</form>
