<div id="page-wrapper">

    <div class="container-fluid">
<!-- BEGIN PAGE_TITLE -->
{PH_page_title} jQuery Grid Implementation :: Genesis
<!-- END PAGE_TITLE -->
<!-- BEGIN META_DESCRIPTION -->
{PH_meta_description} jQuery Grid Implementation
<!-- END META_DESCRIPTION -->
<!-- BEGIN META_KEYWORDS -->
{PH_meta_keywords} jQuery Grid Implementation
<!-- END META_KEYWORDS -->

<!--<link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/grid.css">-->
<link rel="stylesheet" type="text/css" href="{SITEURL}theme/css/forms.css">
<script type="text/javascript" src="{SITEURL}js/modal.bootstrap.js"></script>
<script type="text/javascript" src="{SITEURL}js/jquery.grid.bootstrap.js"></script>
<script language="javascript">
    $(document).ready(function(){
        $('#grid_books').grid();
    });
</script>

<div class="float-left" style="margin-right: 15px;">
    <h2>Books</h2>
    <a href="{SITEURL}{uri}/books/add/" class="button display-modal" title="Add New Record">Add New</a>
    <br><br>
    <div class="grid panel panel-default" id="grid_books">
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="header">
                        <th>Title</th>
                        <th>Author</th>
                        <th>Author Email</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tr class="init-row">
                    <td>
                        <span class="book_title"></span>
                        <div class="quicklinks"><a href="{SITEURL}{uri}/books/edit/?id=" class="book_id display-modal" title="Edit Record">Edit</a></div>
                    </td>
                    <td><span class="book_author"></span></td>
                    <td><span class="book_author_email"></span></td>
                    <td><span class="gen_name"></span></td>
                </tr>
            </table>
        </div>

        <div class="grid-controls panel-footer">
            <div class="pad row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Page: <span class="currentPage"></span> of <span class="totalPages"></span> of <span class="totalRecords"></span> records.</span>
                        <input type="text" class="form-control gotopage" name="gotopage">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default go-page">Go To Page</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-8">
                    <div class="paging pull-right">
                        <a href="#" class="page-previous page-link btn btn-default" rel="">Previous Page</a>
                        <a href="#" class="page-next page-link btn btn-default" rel="">Next Page</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <input type="hidden" name="grid_url" value="{SITEURL}{uri}/load/?type=books" />
        <input type="hidden" name="parameters" value="" />
    </div>
</div>





    </div>
</div>
<!-- /#page-wrapper -->